[submodule "framework"]
	path = framework
	url = git@github.com:livestreet/livestreet-framework.git

[submodule "application/plugins/admin"]
	path = application/plugins/admin
	url = https://github.com/olezhikz/lsadmin-boilerplate
[submodule "application/plugins/test"]
	path = application/plugins/test
	url = git@github.com:olezhikz/livestreet-test.git
[submodule "application/plugins/subscribe"]
	path = application/plugins/subscribe
	url = https://github.com/olezhikz/ls-plugin-subscribe
[submodule "application/plugins/wiki"]
	path = application/plugins/wiki
	url = https://github.com/olezhikz/ls-plugin-wiki
[submodule "application/plugins/like"]
	path = application/plugins/like
	url = https://github.com/olezhikz/ls-plugin-like
[submodule "application/plugins/questions"]
	path = application/plugins/questions
	url = https://github.com/olezhikz/ls-plugin-questions
[submodule "application/plugins/moderation"]
	path = application/plugins/moderation
	url = git@github.com:olezhikz/ls-plugin-moderation.git
