[submodule "framework"]
	path = framework
	url = git@github.com:livestreet/livestreet-framework.git

[submodule "application/plugins/admin"]
	path = application/plugins/admin
	url = git@bitbucket.org:fendru/plugin-admin.git
    branch = fend
[submodule "application/plugins/test"]
	path = application/plugins/test
	url = git@github.com:olezhikz/livestreet-test.git
